@model dynamic
  @{ ViewData["Title"] = "Trainers"; }

  
  <section id="trainers" class="bg-gray-50">
    <h2 class="text-4xl text-center">Trainers</h2>
    <div class="dropdown">
    <button class="dropbtn">Categories</button>
    <div class="dropdown-content">
      @foreach(var item in Model.categoryList){
        @Html.ActionLink( (string) @item.name, "Index","Trainers",new{ category= @item.name })
       }
    </div>
    </div>
    <ul class="grid-row my-40">
      @foreach(var item in Model.trainerList){
        <a href="@Url.Action("Index", "Courses" ,new {trainerId= @item.Id})">
      <li onCli>
        <div class="flex flex-col items-center justify-center">
          <div class="educator thumb mb-5">
            <img class="" src="../assets/images/trainers/2.jpeg" alt="" />
          </div>
          <div class="card__header-text">
            <h3 class="card__title">@{ @item.name }</h3>
          </div>
          <p>@{ @item.profession }</p>
        </div>
      </li>
      </a>
      }
    </ul>
  </section>
</Test.Models.trainer>
